.footer-container {
  background-color: #151F33;
  margin: 15px;
  border-radius: 30px;
  padding: 30px 80px;
  position:relative;
  z-index:30;
}
@media (max-width: 797px) {
  .footer-container {
    padding: 30px;
  }
}
.footer-heading {
  font-size: 29px;
  font-weight: bold;
}
.footer-social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
  gap: 30px;
}
.social-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 70px;
  width:20vw;
}
.social-box {
  border-bottom: 1px solid #f9f7f4;
  padding-bottom: 15px;
}
.socialmedia {
  display: flex;
  align-items: center;
}
.social-title {
  margin-left: 20px;
}
.footer-bottom {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 100px;
  border-right: 1px solid #707070;
  padding-right: 10px;
}
.policy-pages {
  margin-left: 20px;
}
.policy-pages a {
  margin-right: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

@media (max-width: 940px){
  .footer-container {
    padding: 30px 40px;
  }
  .social-box {
    width:75vw;
    margin:0;
  }
  .footer-social-links {
    flex-direction: column;
    gap: 30px;
  }
}