.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  margin: 0 80px 50px;
  gap: 15px;
  
}

.box {
  background: #f9f7f4;
  border-radius: 20px;
  color: #1f396e;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box img {
  width: 80px;
  margin-bottom: 8px;
}

.box .content {
  margin-left: 0; /* Remove margin for better centering on mobile */
}

.box-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.box-text {
  font-size: 15px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .box {
    flex-direction: row; /* Change to row direction on larger screens */
    text-align: left;
  }

  .box img {
    width: 80px;
    margin-right: 10px;
    
  }

  .box .content {
    margin-left: 10px; /* Restore margin on larger screens */
  }
}

@media (min-width: 1290px) {
  .box-container {
    margin: 0 275px 50px;
  }
}

@media (max-width: 767px) {
  .box-container {
    margin:1.5rem;
     /* Adjusted margin for better mobile responsiveness */
     place-items: center; /* Centers the contents of each grid cell */
  }

  .box {
    
    padding: 10px;
    width: 90% /* Adjusted padding for better mobile responsiveness */
  }

  .box-title {
    font-size: 20px; /* Adjusted font size for better readability on mobile */
  }

  .box-text {
    font-size: 14px; /* Adjusted font size for better readability on mobile */
  }
}
