
.margin-right{
    margin-right: 20px;
}

.photo-height{
    height: 25px;
}

/********** The Header **********/

.header {
    margin: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** Right Side of The Header **/

.logo {
    width: 50px;
}

.header-right {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: end;
}

.search input {
    border: none;
    background-color: #000B21;
    width: 300px;
    margin-left: 5px;
}

/** Left Side of The Header **/

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    align-items: center;
}

.post img {
    margin-right: 5px;
}