#eventPage{
    width:100%;
    padding:20px;
    font-weight:300;
    height:calc(100vh - 80px);
}

#eventName{
    font-size: calc(24px + 3.5vw);
    font-family: 'SF-Pro-Display-Bold';

}
#eventDetailsFlex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-width:calc(100% - 40px);
}
#eventNameWrapper{
    display:flex;
    flex-direction: column  ;
    width: 55%;
}

#eventDetailsWrapper{
    display:flex;
    flex-direction: column;
    gap:20px;
    width:25%;
    height:80%;

}
.iconButton{
    min-width: 35px;
    min-height: 35px;
    border-radius: 100%;
    outline:none;
    background-size: contain;
}
.tabLabel{
    display:block;
}
.tabIcon{
    display:none;
    margin: 4px;
}
.iconButtonsWrapper{
    width:fit-content;
    padding:0px 15px;
    min-width:fit-content;
    margin-left:auto;
    justify-content: space-around;
    display:flex;
    gap:10px;
    align-items: center;
    height:75%;
    border-radius: 999px;
    margin-right:10px;
}
.plusButton{
    display:none;
    width:35px;
    background-size: contain;
}
@media (max-width: 800px) {
    .tabLabel{
        display:none;
    }
    .tabIcon{
        display:block;
        width:calc(10px + 4vw);
    }
    .iconButtonsWrapper{
        background-color: hsl(220, 34%, 27%);
    }
}
@media (max-width: 650px){
    .plusButton{
        display:block;
        width:30px;

    }
    .tabIcon{
        width:calc(6vw - 2px);
    }
    .iconButton{
        min-width: 25px;
        min-height: 25px;
        width:25px;
    }
    .iconButtonsWrapper{
        padding:0px 5px;
        gap:5px;
    }
    .chakra-tabs{
        margin:30px 0px !important;
    }
    .chakra-tabs__tablist{
        padding:0px 10px !important;
        height:50px !important;
    }
    .chakra-tabs__tab{
        padding:5px !important;
    }
    .chakra-tabs__tablist .defaultButton{
        min-width:0px;
        height: fit-content;
        width: fit-content;
        background-color: transparent;
    }
    .buttonText{
        display: none;
    }
    
    
}