
/** The Footer **/

.footer {
    font-size: 16px;
    color: gray;
    display: flex;
    align-items: center;
    background-color: rgb(21, 31, 51);
    height: 120px;
    margin: 10px;
    padding-left: 100px;
    border-radius: 20px;
}

/** The Footer Logo **/

.footer-logo img{
    width: 30px;
    margin: 30px 30px 30px 0px;
}

/** The Footer Horizontal Line **/

.footer-line {
    margin-left: 50px;
    width: 1.5px;
    height: 25px;
    background-color: gray; 
}

/** The Footer Links **/

li a {
    color: gray;
    text-decoration: none;
}

.footer-links li {
    display: inline-block;
    margin-right: 5px;
}

.footer-links li:first-child {
    margin-left: 30px;
}

.footer-links li:first-child:before {
    content: "";
}

.footer-links li:before {
    content: "•";
    margin-right: 5px;
}

@media (max-width: 480px) {
    .main-content {
        margin: 30px 2%; 
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: 18px;
    }

    .pfp img {
        width: 40px; 
        height: 40px; 
    }

    .desc-title {
        font-size: 14px; 
    }

    .desc-time {
        font-size: 10px; 
    }

    .like-save-share img {
        width: 20px; 
    }

    .like span {
        font-size: 10px; 
    }

    .main-content caption {
        font-size: 10px; 
    }

    .article-desc {
        font-size: 14px; 
    }

    .main-content a {
        font-size: 12px;
    }
}